.casa {
    font-family: 'Montserrat', sans-serif;
    color: #213e26;
    opacity: 0.8;
}

.verde {
    font-family: 'Elsie Swash Caps', cursive;
    color: #213e26;
    opacity: 0.8;
    font-weight: 900;
    font-size: 1.5rem;
}